#phrasesList{
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
    letter-spacing: 1px;
    margin-bottom: 25%;
}
#frase{
    margin-top: 50px;
    margin-bottom: 50px;
}