#footer{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
}